.slider-wrapper {
    position:relative;
    max-width: 1000px;
    margin:0 auto;
}
.div-index-content{
    margin:0 auto;
    max-width:1000px;
}
.div-index-message{
    text-align:left;
    overflow:hidden;
}
.div-index-left{
    display:inline-block;
    margin-left:0;
    text-align:left;
    width:60%;
    padding-top:10px;
}
.div-index-notice{
    display:inline-block;
    margin-right:0;
    float:right;
    width:40%;
    text-align:left;
}